.icon-add {
    background: url(../images/icons/add.png);
}
.icon-delete {
    background: url(../images/icons/close.png);
}
.icon-sync {
    background: url(../images/icons/sync.png);
}
.icon-store {
    background: url(../images/icons/images_store.png);
}
.icon-link {
    background: url(../images/icons/link.gif);
}