@charset "utf-8"; /* CSS Document */

.thumb {
    width: 90px;
    height: 80px;
}
.thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 90px;
}
.thumb-wrap img {
    width: 90px;
}
.x-item-selected {
    background: #8db2e3;
}

.thumb-img{
    width: 80px;
    height: 60px;
}
.image-node .x-tree-node-icon{
    margin-bottom:1px;
    height:15px;
}